.photo {
    display: inline-block;
    /* Строчно-блочный элемент */
    position: relative;
    /* Относительное позиционирование */
}

.user-favorite-icon {
    margin-right: 20px;
    fill: grey;
}

.user-checkbox:checked+.user-favorite-icon {
    fill: #ffd054;
}

* {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 0 10px;
}

.photo:hover::after {
    content: attr(data-title);
    /* Выводим текст */
    position: absolute;
    /* Абсолютное позиционирование */
    left: 20%;
    top: 30%;
    /* Положение подсказки */
    z-index: 1;
    /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 230, 0.9);
    /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif;
    /* Гарнитура шрифта */
    font-size: 11px;
    /* Размер текста подсказки */
    padding: 5px 10px;
    /* Поля */
    border: 1px solid #333;
    /* Параметры рамки */
}

body {
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}

ul li {
    list-style: none;
    /* убираем дефолтные маркеры */
}

.tree span {
    cursor: pointer;
}

.hide::before {
    content: "+";
    /* украшательство вместо маркера */
}

.show::before {
    content: "-";
    /* украшательство вместо маркера */
}
